p {
    color: rgb(186, 14, 106);
    background-color: rgb(167, 95, 8);
}
.P2 {
    color: rgb(180, 30, 30);
    background-color: rgb(42, 198, 42);
    border: 3px solid black;
    border-style: double;
    margin: 20px;
    padding: 5px;
}
#P3 {
    color: khaki;
    background-color: red;
    border-radius: 6px;
    text-decoration: line-through;
}
*{
    background-color: rgb(123, 212, 127);
    margin: 4px;
    background-image: url(../Assets/boat.jpg) ;
    background-repeat: no-repeat;
    background-size: cover;
}
body{
     border: 2px solid black;
     border-radius: 5px;
     border-color: rgb(141, 85, 12);
     border-style: dotted dashed;
}